/*-- scss:defaults --*/

$pink: #ff54ff;
$pink-dark: #e600e6;
$red-dark: #740b12;
$red-medium: #962b2d;
$red: #b5111b;
$red-brick: #993333;
$red-orange: #aa5108;
$orange-dark: #e9802f;
$orange-light: #f79e55;
$orange: #f6903c;
$orange-soft: #ff9900;
$brown-red: #996600;
$dhsi: rgb(192,141,18, .2);
$dhsi-dark: rgb(192,141,18, 1);
$brown-pink: #978282;
$purple: #666699;
$lavender-dark: #6e7b91;
$lavender: #7b809d;
$brown-dark: #787854;
$brown-green: #999966;
$green-dark: #677755;
$green: #74865f;
$blue-black: #394046;
$blue-blackish: #4d5966;
$blue-dark: #5d758c;
$blue-darker: #506687;
$blue-lavender: #6e8091;
$blue-purple: #637383;
$blue: #487084;
$turquoise: #006a7f;
$blue-light: #669999;
$black: #000000;
$black-soft: #1a1a1a;
$black-softer: #262626;
$grey-black: #343a40;
$grey-dark: #404040;
$grey-darkish: #44494d;
$grey-bluish: #424a57;
$brown-dark: #595959;
$brown-light: #727474;
$black-brown: #453b3b;
$grey-somber: #cccccc;
$grey-brown: #d9d9d9;
$grey-softer: #f0f2f4;
$grey-soft: #e2e6e9;
$grey: #dee2e6;
$grey-blue: #d2d9df;
$grey-light: #e1e6ea;
$grey-dull: #eae8f0;
$grey-pink: #e8e2e9;
$grey-pinker: #f9ecec;
$grey-medium: #e9e9e9;
$white-off: #f5f5f0;
$whitish: #f7fcfc;
$white-soft: #eff2f6;
$white-pink: #f8f9fa;
$white-dull: #f0f0f5;
$white-orange: #fff5e6;
$white: #ffffff;
